# Sentiment analysis per state
Combine Sentiment analysis with state data
*First start MongoDB service:*  
`mongod --config /usr/local/etc/mongod.conf`  
`brew services start mongodb-community`

In [1]:
# Load dependencies
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
import pandas as pd

In [2]:
# Configuration
# Location MongoDB:
mongo_host = None
# Name collection
client_name = "fundamentals"
# Postive-negative sentiment file
posneg_file = '../datasets/pos_neg_sentiment_by_state.pkl'

In [3]:
# Create connection
try:
    client = MongoClient(mongo_host)
    client.admin.command('ismaster')
    db = client[client_name] 
    twitter_db = db.twitter
    
except ConnectionFailure:
    print("Connection to MongoDB server could not be established")
    exit()

In [17]:
# Test connection by counting
print("Total amount of tweets:",twitter_db.count_documents({}))

Total amount of tweets: 657307

In [4]:
# Create pickle of DataFrame of all us tweets with added state locations and mentions
names = ['realDonaldTrump', 'HillaryClinton']

print("Number of US country tweets", twitter_db.count_documents(filter = 
 {"place.country_code" : "US"}))

# Set up pipeline to find tweets mentioning one or both candidates 
# and create columns with booleans for the mention of each candidate
pipeline_sen_state = [{"$match" : {"place.country_code" : "US",
                                   "place.state":{"$exists" : True},
                                   "entities.user_mentions.screen_name":{"$in": names}
                                  }},
                      {"$project": { "_id" : 0, "id": 1,"state": "$place.state",
                                    "Mentions_Trump": {"$in": [names[0],
                                                "$entities.user_mentions.screen_name"]},
                                     "Mentions_Clinton": {"$in": [names[1],
                                                "$entities.user_mentions.screen_name"]}
                                   }}]
sen_counter = twitter_db.aggregate(pipeline_sen_state)

sen_state_df = pd.DataFrame(sen_counter)
print("Number of tweets from the US mentioning one or both candidates: "+str(
    sen_state_df.shape[0]))

Number of US country tweets 593268
Number of tweets from the US mentioning one or both candidates: 390913

In [5]:
display(sen_state_df.head())

                   id       state  Mentions_Trump  Mentions_Clinton
0  764039724818272256    Missouri            True             False
1  764039733076897792   Louisiana            True             False
2  764039769244348417    Missouri            True             False
3  764039917924069376  California            True             False
4  764039926161604608  New Jersey            True             False

In [6]:
# Load pos-neg sentiment
pos_neg_df = pd.read_pickle(posneg_file)[["id","sentiment"]]

In [7]:
# Merge datasetpos_neg
pos_neg_state = sen_state_df.merge(pos_neg_df, on = "id", how = "inner")
print("N mentioning with sentiment: "+str(pos_neg_state.shape[0]))
pos_neg_state.head()

N mentioning with sentiment: 330512

                   id       state  Mentions_Trump  Mentions_Clinton sentiment
0  764039733076897792   Louisiana            True             False       pos
1  764039917924069376  California            True             False       neg
2  764039926161604608  New Jersey            True             False       pos
3  764039928116240384       Texas           False              True       neg
4  764039948567576576    Maryland            True             False       pos

In [8]:
# test_df.to_pickle("../state_id.pkl")

In [9]:
names = ['realDonaldTrump', 'HillaryClinton']
print("Trump: "+str(twitter_db.count_documents({"entities.user_mentions.screen_name": names[0]})))
print("Clinton: "+str(twitter_db.count_documents({"entities.user_mentions.screen_name": names[1]})))
print("Both: "+str(twitter_db.count_documents({"$and":[{"entities.user_mentions.screen_name": names[0]},
                                                       {"entities.user_mentions.screen_name": names[1]}]})))

Trump: 325834
Clinton: 140740
Both: 28253

In [10]:
# Assign mentions column to Trump, Clinton or Both
series_both = (pos_neg_state["Mentions_Trump"] & pos_neg_state["Mentions_Clinton"])
series_trump = (pos_neg_state["Mentions_Trump"] & ~pos_neg_state["Mentions_Clinton"])
series_clinton = (~pos_neg_state["Mentions_Trump"] & pos_neg_state["Mentions_Clinton"])
pos_neg_state["Mentions"] = None
print(sum(pos_neg_state["Mentions"].isna()))
pos_neg_state.loc[series_both,"Mentions"] = "both"
pos_neg_state.loc[series_trump,"Mentions"] = "trump"
pos_neg_state.loc[series_clinton,"Mentions"] = "clinton"
print(sum(pos_neg_state["Mentions"].isna()))
pos_neg_state.head()

330512
0

,id,state,Mentions_Trump,Mentions_Clinton,sentiment,Mentions
0,764039733076897792,Louisiana,True,False,pos,trump
1,764039917924069376,California,True,False,neg,trump
2,764039926161604608,New Jersey,True,False,pos,trump
3,764039928116240384,Texas,False,True,neg,clinton
4,764039948567576576,Maryland,True,False,pos,trump

In [11]:
# Check for sanity
print("Both: ","\t",sum(pos_neg_state["Mentions_Trump"] & pos_neg_state["Mentions_Clinton"]),"\n",
      "Trump: ","\t",sum(pos_neg_state["Mentions_Trump"] & ~pos_neg_state["Mentions_Clinton"]),"\n",
      "Clinton: ",sum(~pos_neg_state["Mentions_Trump"] & pos_neg_state["Mentions_Clinton"])
     , sep="")
print("Both: ","\t",sum(pos_neg_state["Mentions"] == "both"),"\n",
      "Trump: ","\t",sum(pos_neg_state["Mentions"] == "trump"),"\n",
      "Clinton: ",sum(pos_neg_state["Mentions"] == "clinton")
     , sep="")

Both: 	21404
Trump: 	222381
Clinton: 86727
Both: 	21404
Trump: 	222381
Clinton: 86727

In [13]:
pos_neg_state.pivot_table(values)

NameError: name 'values' is not defined

In [41]:
state_summary_inc_both = pos_neg_state[["id","state", "Mentions","sentiment"]].groupby(["state", "Mentions","sentiment"]).count()

In [ ]:
print(state_summary.loc[(slice(None),),:].sum().values[0])
print(state_summary.loc[(slice(None),["clinton", "trump"]),:].sum().values[0])

In [44]:
state_summary = state_summary_inc_both.loc[(slice(None),["clinton", "trump"]),:]

In [45]:
state_summary.to_pickle("../datasets/state_sen_summary.pkl")

In [49]:
state_summary.unstack(level = "Mentions").unstack(level = "sentiment")

                          id
Mentions             clinton        trump
sentiment                neg   pos    neg    pos
state
Alabama                  358   527   1345   2854
Alaska                    80   115    252    352
Arizona                  872  1165   2855   4249
Arkansas                 228   391    419    626
California              3987  6076  11121  15880
Colorado                 657   880   1024   1310
Connecticut              437   608    921   1193
Delaware                  86   103    300    367
District of Columbia     221   393    571    811
Florida                 3754  5244   9238  13040
Georgia                 1164  1525   2799   3669
Hawaii                   102   161    453    789
Idaho                    125   204    365    457
Illinois                1392  2255   2995   4966
Indiana                  537   657   1259   1636
Iowa                     221   261    429    750
Kansas                   176   267    660    824
Kentucky                 386   499   1105   1459
Louisiana                325  1269    982   1880
Maine                    182   317    825   1066
Maryland                 587   800   1784   2226
Massachusetts            838  1203   2350   3248
Michigan                 780  1080   1996   2647
Minnesota                231   304    650    871
Mississippi              299   462   1076   1582
Missouri                 607   959   1283   2009
Montana                   49    66     90    156
Nebraska                 107   115    410    518
Nevada                   549   790   1335   1804
New Hampshire            224   394    477    761
New Jersey              1364  1773   3430   4348
New Mexico               197   279    556    713
New York                2996  4184   8062  10734
North Carolina          1129  1495   2784   3610
North Dakota              37    44     77    102
Ohio                    1243  1819   2682   3732
Oklahoma                 352   462    780   1080
Oregon                   533   747   1338   1415
Pennsylvania            1283  1783   3657   5354
Rhode Island             153   202    368    487
South Carolina           417   616    959   1417
South Dakota              42    52    100    133
Tennessee                749   921   1560   2361
Texas                   2537  3699   5928  10486
Utah                     175   225    443    612
Vermont                   72   104    138    203
Virginia                1187  1744   2371   3146
Washington               779  1121   2281   3016
West Virginia             93    83    393    474
Wisconsin                346   467   1250   1601
Wyoming                   67    65    153    177

327388
306167

In [27]:
state_summary.head()

                              id
state   Mentions sentiment
Alabama both     neg         104
                 pos         171
        clinton  neg         358
                 pos         527
        trump    neg        1345